.checklist {
  @extend %list;
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.contact {
  @extend %link;
  display: flex;
  padding: 32px 0;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $primary-text-color;

  transition: color $transition-duration $transition-timing-function;
  &:hover,
  &:focus {    
    color: $accent-color;
  }
}
.contact__icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}
