.footer {
  padding: 60px 0;
  background-color: $background-main-color;
}

.address {
  display: inline-block;
  width: 330px;
  width: 231px;
}
.address__text {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-title-color;
}
.сommunications {
  @extend %list;
}

.сommunications__email,
.сommunications__tel {
  @extend %link;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color $transition-duration $transition-timing-function;
}
.сommunications__email:hover,
.сommunications__email:focus,
.сommunications__tel:hover,
.сommunications__tel:focus {
  color: $accent-color;
}
.сommunications__tel--change {
  color: $footer-tel-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.сommunications__item {
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0;
  }
}

.join {
  margin-left: 70px;
}
.join__title {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-title-color;
}

.web {
  padding: 0;
  border: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $main-title-color;

  transition: background-color $transition-duration $transition-timing-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.subscribe {
  margin-left: 93px;
}
