.navigation {
  display: flex;
  margin-left: 93px;
  align-items: center;
  margin-right: auto;
}

.lists {
  @extend %list;
  display: flex;
}

.lists__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.lists__link {
  @extend %link;
  display: block;
  margin-left: auto;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;

  transition: color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--current {
    color: $accent-color;
  }
}

.lists__link--current {
  position: relative;

  &::after {
    content: '';

    position: absolute;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    left: 0;
    bottom: 0;
  }
}
