$background-color: #ffffff;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-btn-color: #ffffff;
$background-btn-color: #2196f3;
$accent-bnt-color: #188ce8;
$background-main-color: #2f303a;
$main-title-color: #ffffff;
$section-team-color: #f5f4fa;
$footer-tel-color: #d9d9d9;
$border-portfolio-color: #eeeeee;
$border-header-color: #ececec;
$outline-color: tomato;
$svg-color: #afb1b8;
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
